<br><br>
<div class="align-content-lg-center" style="margin-left: 13%; margin-right: -24%;">​
<picture>
  <img src="https://i.ibb.co/kmkBSmX/IA.png" class="img-fluid img-thumbnail " width="65%" alt="...">
</picture>
</div>
<br><br>

<div class="container-fluid">
  <div class="text-center" >
    <p id="three" class="display-5 font-weight-lighter">
      Hemos creado un centro informativo donde podrás conocer las enfermedades mas comunes en el 
      departamento del Cauca y sus municipios en una interfaz muy sencilla e interactiva.  
      Gracias a los sistemas de información implementados en el año 2020 por la Secretaria de Salud 
      Pública del Cauca, lo cual ha facilitado la obtención de reportes en las distintas zonas rurales 
      del departamento y mejorado el tiempo de generación de los reportes de incidencias de enfermedades. 
    </p>
  </div>
</div>

<br><br>

<div class="container-fluid">
  <div id="one" class="text-center" >
    <h3 class="display-4">
      <strong>TOP INSIDENCIAS CAUCA</strong>
    </h3>
    <h4  class="lead">
      En este TOP encontraras las 15 incidencias de salud más reportadas en centros médicos en el 
      departamento del cauca.
    </h4>
    </div>

</div>

<br><br><br>

<div class="row">
    <div class="col-3 text-center " >
            <h1 class="display-1 rounded-circle align-middle">
              <strong>1</strong>
            </h1>
            </div>
  <div class="col-9 text-ringh">
      <div class="card mb-3" style="max-width: 900px;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="https://img.freepik.com/vector-gratis/cuidado-higiene-dientes-tratamiento-medico_24877-55047.jpg?size=626&ext=jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">CARIES DE LA DENTINA</h5>
            <p class="card-text lead">Las caries son zonas dañadas de forma permanente en la superficie de los dientes que se convierten en pequeñas aberturas u orificios.</p>
            <blockquote class="blockquote">
              <p class="center-text">Incidencias reportadas hasta el momento 69.220.</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>

<div class="row">
<div class="col-9 text-ringh">
  <div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://img.freepik.com/vector-gratis/mujer-joven-vestida-rosa-gesto-rinitis_81698-1347.jpg?size=338&ext=jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">RINOFARINGITIS AGUDA - RESFRIADO COMUN</h5>
          <p class="card-text lead">La rinofaringitis aguda es una inflamación de la mucosa nasal y faríngea, causada por virus, autolimitada, transmisible, llamada también «catarro común», «resfrío», «rinofaringitis» o «nasofaringitis»</p>
          <blockquote class="blockquote">
            <p class="center-text">Incidencias reportadas hasta el momento 22.127.</p>
          </blockquote>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-3 text-center " >
  <h1 class="display-1 rounded-circle align-middle">
    <strong>2</strong>
  </h1>
  </div>
</div>

<br><br>


<div class="row">
  <div class="col-3 text-center " >
          <h1 class="display-1 rounded-circle align-middle">
            <strong>3</strong>
          </h1>
          </div>
<div class="col-9 text-ringh">
    <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://miro.medium.com/max/945/0*hCE8RfGxQQ8cW-pr" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">HIPERTENSION ESENCIAL O PRIMARIA</h5>
            <p class="card-text lead" >La Hipertensión esencial (denominado también hipertensión primaria o hipertensión idiopática) es la definición de una hipertensión que surge sin causa específica identificable.</p>
          <blockquote class="blockquote">
            <p class="center-text">Incidencias reportadas hasta el momento 19.293.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<br><br>

<div class="row">
<div class="col-9 text-ringh">
  <div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://www.laboticademon.es/images/easyblog_articles/46/b2ap3_large_mujer-dibujos-animados-ropa-dormir-color-rosa-picazon-genital-causada-hongo_46527-390.jpg" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">INFECCION DE VIAS URINARIAS</h5>
          <p class="card-text lead">Las infecciones del tracto urinario son más comunes en las mujeres. Suelen producirse en la vejiga o la uretra, aunque las más serias afectan a los riñones.</p>
          <blockquote class="blockquote">
            <p class="center-text">Incidencias reportadas hasta el momento 1.3153.</p>
          </blockquote>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-3 text-center " >
  <h1 class="display-1 rounded-circle align-middle">
    <strong>4</strong>
  </h1>
  </div>
</div>

<br><br>


<div class="row">
  <div class="col-3 text-center " >
          <h1 class="display-1 rounded-circle align-middle">
            <strong>5</strong>
          </h1>
          </div>
<div class="col-9 text-ringh">
    <div class="card mb-3" style="max-width: 900px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="https://image.freepik.com/vector-gratis/covid-19-proteccion-concepto-personaje-dibujos-animados-tierra-escapa-virus_52569-1253.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">COVID-19</h5>
            <p class="card-text lead" >La COVID-19 afecta de distintas maneras en función de cada persona. La mayoría de las personas que se contagian presentan síntomas de intensidad leve o moderada, y se recuperan sin necesidad de hospitalización.</p>
          <blockquote class="blockquote">
            <p class="center-text">Incidencias reportadas hasta el momento 10.771.</p>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<br><br>

<div class="row">
<div class="col-9 text-ringh">
  <div class="card mb-3" style="max-width: 900px; max-height: 800px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://d1cpnymib1locd.cloudfront.net/?src=https://www.elpais.com.co/files/article_main/uploads/2017/01/27/588b9645da92d.jpeg&w=1200" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">DIARREA Y GASTROENTERITIS DE PRESUNTO ORIGEN INFECCIOSO</h5>
          <p class="card-text lead">Definición La enfermedad diarreica aguda EDA, (Diarrea y gastroenteritis de presunto origen infeccioso A09, CIE-10) consiste en la expulsión de tres o más deposiciones líquidas, con o sin sangre, en 24 horas, que adopten la forma del recipiente que las contiene.</p>
          <blockquote class="blockquote">
            <p class="center-text">Incidencias reportadas hasta el momento 1.0231.</p>
          </blockquote>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col-3 text-center " >
  <h1 class="display-1 rounded-circle align-middle">
    <strong>6</strong>
  </h1>
  </div>
</div>



<br>
<br>

<div class="container-fluid">
  <div class="text-center" >
    <h3 class="display-4">
      <strong>COMPARATIVA</strong>
    </h3>
    <h3 id="two" class="lead">
      En esta parte encontraras una comparativa de las insidencias mas reportadas en cada municipio.
    </h3>
    </div>
</div>

<br><br><br>